<html>
    <body>
        <div>  
            <img src="/images/logo-mercado-liebre.svg" alt="Aqui va la imagen"> 
        </div>  

        <p>
            Lugar para poner la barra de búsqueda
        </p>

        <p>
            Comprá en cuotas y sin tarjeta de crédito
        </p>

        <p>
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href="/Vender">Vender</a></li>
                <li><a href="/Ayuda">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/Crea tu Cuenta">Crea tu Cuenta</a></li>
                <li><a href="/Ingresa">Ingresa</a></li>
                <li><a href="/Mis Compras">Mis Compras</a></li>
            </ul>
        </p>

        <main>
            <h2>
                Basado en tu última visita
            </h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Aqui va la imagen"> 
            </div>
            <div>
                $6.770
            </div>
            <div>
                40% OFF
            </div>
            <h2>
                Cafetera Moulinex
            </h2>

            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Aqui va la imagen"> 
            </div>
            <div>
                $230.000
            </div>
            <div>
                20% OFF
            </div>
            <h2>
                MacBook Pro 2019
            </h2>

            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Aqui va la imagen"> 
            </div>
            <div>
                $70.500
            </div>
            <div>
                10% OFF
            </div>
            <h2>
                Samsung Galaxy S10
            </h2>
        </main>
    </body>

</html>