:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}

html {
    font-family: 'Roboto';
    background-color: #EAC926;
}

header {
    font-size: 12px;
}

.descuentos {
    font-size: 16px;
}

.precio {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

.basado {
    font-size: 24px;
}

.logo {
    width: 50%;
    height: auto;
    margin: 1rem auto;
    padding: 1rem;
    justify-content: left;
}

.buscador {
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: black
}

.compra {
    text-align: center;
}

.burguer-menu {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    color: white;
}

.burguer-menu i {
    background-color: var(--Celeste);
    padding: 1rem;
    border-radius: 0.6rem;
    margin: 0.5rem;
}

main {
    background-color: white;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

footer {
    background-color: white;
    text-align: center;
    padding: 5rem;
    margin: auto;
}

footer i {
    font-size: 3.2rem;
    color: blue;
    margin-bottom: 1rem;
    margin-top: 5rem;
}